body {
    margin: 0;
    padding: 0;
}
#slider {
    position: fixed;
    top: 50px;
    width: auto;
    height: auto;
}
#sliderCard {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: #db81ff;
}
#sliderLabel {
    position: absolute;
    width: 40px;
    height: 100px;
    background-color: #0aff8c;
}
